<ion-header>
  <ion-toolbar>
    <ion-title>Verifica tu cuenta</ion-title>
    <ion-buttons slot="end">

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-content">
    <h2>Ingresa a tu correo electronico para verificar tu cuenta de BIBLIOLOFT</h2>
    <p>En caso de no encontrar el correo de verificación, verificar la carpeta de "Correos no deseados"</p>


    <div class="action-button">
      <ion-button type="submit" size="large" class="login-button" (click)="dismissModal()" color="rosaoscuro">Aceptar</ion-button>

    </div>
  </div>
</ion-content>
