.busquedas{
    width: 100%;
    display: flex;
    justify-content: center;

    ion-grid{
        display: flex;
        justify-content: center;
        margin: 0 0;
       

        ion-row{
            display: flex;
            justify-content: center;
            padding: 0 1rem;
        }

        @media screen and (max-width: 529px) {

            ion-row{
                padding: 0 0;
            }

        }


    }
}

.busquedas{
    ion-segment[scrollx=true]{
        position: relative;
        overflow: hidden;
    }
}

.popularBooks{
    margin-top: 1rem;
    display: flex;
    justify-content: center;

    ion-text{
        font-size: 1.25rem;
    }
}

.body{
    ion-item{
        ion-button{
            --background: rgb(190, 190, 190);
            --border-radius: 50px;
        }

        .selected {
            --background: rgb(184, 51, 51);
        }
    }
}