<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom"  color="rosaoscuro">
      <ion-tab-button tab="libros">
        <ion-icon name="book-outline"></ion-icon>
        <ion-label>Libros</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="peticiones">
        <ion-icon name="alert-circle-outline"></ion-icon>
        <ion-label>Peticiones</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="settings-admin">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Configuración</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
