ion-tabs {
  background-color: var(--ion-color-rosaoscuro);
  color: white;
}

.tab-selected {
  color: rgb(116, 35, 35) !important;
}

ion-tab-button {
  --color-selected: rgb(116, 35, 35);

  &::before {
    background-color: transparent;
    display: block;
    content: "";
    margin: 0 auto;
    width: 60px;
    height: 2px;
  }

  &.tab-selected::before {
    background-color: rgb(116, 35, 35);
  }
}

@media screen and (min-width: 1200px) {
  .hide {
    display: none;
  }
}
